/*
	@file: apps/flame/flame.css
*/

#flame-app.reveal-modal {
	top: 110px;
}

#flame-app a.button:hover {
	text-decoration: none;
}

#flame-app a.button {
	border: 1px solid white;
}

#flame-app a.button.start {
	background: orange;
}

#flame-app a.button.stop {
	background: blue;
}