.button { 
	border: 2px solid #777777; 
	background: #6e9e2d; 
	color: white; 
	font: bold 11px 'Trebuchet MS'; 
	padding: 4px; 
	cursor: pointer; 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
}