/*
	@file: apps/candle/candle.css
*/

#candle-app.reveal-modal {
	top: 110px;
}

#candle-app a.button:hover {
	text-decoration: none;
}

#candle-app a.button {
	border: 1px solid white;
}

#candle-app a.button.start {
	background: green;
}

#candle-app a.button.stop {
	background: red;
}