/*
	@file: apps/sentimental/sentimental.css
*/

#sentimental-app.reveal-modal {
	top: 110px;
}

#sentimental-app label {
	color: white;
}

#sentimental-app input {
	height: 46px;
}

#sentimental-app a.button:hover {
	text-decoration: none;
}

#sentimental-app a.button {
	border: 1px solid white;
}

#sentimental-app a.button.start {
	background: #e71abf;
}

#sentimental-app a.button.stop {
	background: #0095ff;
}
